<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814750200624-qlua36dj4ufe6e1gsl4lh602cfdum6jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814750200624-qlua36dj4ufe6e1gsl4lh602cfdum6jh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>814750200624-oorb4c0r22t2d1u2shpmbc8mcm17rjk1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxIgc1eB2vKKzWrVjCU8oQpl4KGFKFsb8</string>
	<key>GCM_SENDER_ID</key>
	<string>814750200624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>bubbl-klz46e</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbl-klz46e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814750200624:ios:6ea79285f6565af9bacef5</string>
</dict>
</plist>